{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1 class="display-5 fw-bold">Welcome to DoctorHub</h1>
  <p class="lead">Find and book appointments with trusted doctors near you.</p>
<div class="container mt-4">
  <form method="get" action="{% url 'doctor_list' %}" class="mx-auto" style="max-width: 500px;">
    <div class="mb-3">
      <input type="text" name="town" class="form-control" placeholder="Town">
    </div>
    <div class="mb-3">
      <select name="specialty" class="form-select">
        <option value="">Specialty</option>
        <option value="Orthopedist">Orthopedist</option>
        <option value="Dentist">Dentist</option>
        <option value="Family_doctor">Family Doctor</option>
      </select>
    </div>
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-success w-100">Search</button>
    </div>
  </form>

  <div class="text-center mt-4">
    {% if user.is_authenticated %}
      <a href="{% url 'doctor_list' %}" class="btn btn-outline-primary">
        List of all available doctors
      </a>
    {% else %}
      <p class="text-muted fst-italic">
        Please <a href="{% url 'register' %}">register</a> or <a href="{% url 'login' %}">log in</a> to view the list of available doctors.
      </p>
    {% endif %}
  </div>
</div>


  <a class="btn btn-primary btn-lg mt-3" href="{% url 'register' %}">Get Started</a>
</div>
{% endblock %}